{{#each links}}
    {{#if divider}}
        <li class="divider"></li>
        {{#if header}}
            <li class="nav-header">{{header}}</li>
        {{/if}}
    {{/if}}
    {{#unless divider}}
        <li><a href="{{url}}" target="_blank">{{label}}</a></li>
    {{/unless}}
{{/each}}
