{{#each items}}
    {{#if header}}
        <li class="nav-header">{{header}}</li>
    {{/if}}
    {{#each items}}
        <li {{#unless @index}}class="active"{{/unless}} data-value="{{uid}}"><a href="#">{{{label}}}</a></li>
    {{/each}}
{{/each}}