<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="pull-left">
            <a class="brand" href="/">
                <img src="img/isblogo.png" class="imgbrand" alt="ISB"> <b>{{title}}</b>
            </a>
            <div class="pull-left navbar-form">
                <input type="text" data-provide="typeahead" placeholder="Search..." class="span3 search-box">
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-pills pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle active" href="#" data-toggle="dropdown" onclick="return false;">
                        <img class="signin-pic" src="https://www.google.com/images/icons/ui/gprofile_button-64.png" alt="&nbsp;"/>
                    </a>
                    <ul class="dropdown-menu signin-container"></ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle active" href="#" data-toggle="dropdown" onclick="return false;">
                        <i class="icon-chevron-left"></i> <i class="icon-chevron-down"></i> <i class="icon-chevron-right"></i>
                    </a>
                    <ul class="about-links dropdown-menu">
                        <li><a href="#" onclick="return false;">User Guide</a></li>
                        <li><a href="http://github.com/IlyaLab/WebAppBase" target="_blank">Open Source Project</a></li>
                        <li><a href="http://www.cancerregulome.org/about.html#funding" target="_blank">Funding</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
