<li>
    <div class="btn-group" style="margin-bottom: 4px; margin-right: 4px;">
      <button class="btn btn-small btn-success" style="min-width: 80px;">{{label}}</button>
      <button class="btn btn-mini btn-warning item-remover" data-id="{{id}}">x</button>
    </div>
</li>