.loading-container {
    width: 300px;
    top: 30px;
    left: 30px;
    position: fixed;
}

.navbar-static-top {
    position: fixed;
}

.navbar-static-top .container {
    margin-right: 0;
}

.imgbrand {
	height: 35px;
	width: 35px;
	padding-right: 10px;
}
.navbar .brand {
	padding: 3px 20px 2px;
    font-size: 18px;
    white-space: nowrap;
}

.graph-container, .filter-container{
	border: 2px solid black;
}

.graph-container {
	height:800px;
}

.filter-container .parcoords{
	height:300px;
}

.slick-cell-checkboxsel {
	background: #f0f0f0;
	border-right-color: silver;
	border-right-style: solid;
}

.grid-container {
  background: white;
  outline: 0;
  border: 1px solid gray;
}

.circ-container {
	height: 800px;
}

.signin-pic {
    width: 20px;
    margin-top: -5px;
    padding-left: 1px;
}

.signin-container {
    margin: 10px;
    min-width: 300px;
}

.signin-container .logo {
    width: 50px;
    margin: 5px;
}

.signin-container .user-pic {
    width: 50px;
    float: left;
    margin: 5px;
}

.signin-container .email {
    font-weight: bold;
}

.signin-container a {
    font-size: smaller;
    margin-top: 10px;
    padding-top: 10px;
}

.hangout_link {
    text-decoration:none;
}

.hangout_link img {
    border: 0;
    width: 86px;
    height: 20px;
    margin-top: -5px;
}

.capitalized {
    text-transform:capitalize;
}

.brush .extent {
    stroke: red;
    fill: #EEEEEE;
    opacity: 0.5;
}
