.fmx_distributions_container .data_point {
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

.fmx_distributions_container .axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2.0px;
    shape-rendering: crispEdges;
}

.fmx_distributions_container .kde_line {
    shape-rendering: none;
    stroke-width: 1.5px;
    visibility: hidden;
}

.fmx_distributions_container .y.axis path, .y.axis line {
    stroke: #aaa;
}

.fmx_distributions_container .x.axis path, .x.axis line {
    stroke: none;
}

.fmx_distributions_container .axis_label, .ticks {
    font-size: 16px;
}

.fmx_distributions_container .data_totals {
    font-size: 20px;
    font-weight: 400;
    shape-rendering: crispEdges;
}

.fmx_distributions_container .data_labels {
    font-size: 18px;
    font-weight: bold;
}

.fmx_distributions_container .cv {
    width: 540px;
    height: 405px;
}

.fmx_distributions_container .filter-elements {
    border-right-color: lightgray;
    border-right-width: 2px;
    border-right-style: solid;
}