.atlas-body {
    padding: 5px;
    top: 100px;
    position: absolute;
    width: 97%;
    height: 85%;
    z-index: -3;
}

.atlas-canvas {
    padding: 5px;
    width: 97%;
    height: 97%;
    z-index: -2;
    position: absolute;
}

.atlas-map {
    position: absolute;
    z-index: 10;

    border: 1px solid #87cefa;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    -webkit-transition: opacity 1s;
    -webkit-transition: height 1s;
    -webkit-transition: width 1s;

    -moz-transition: opacity 1s;
    -moz-transition: height 1s;
    -moz-transition: width 1s;

    -ms-transition: opacity 1s;
    -ms-transition: height 1s;
    -ms-transition: width 1s;

    -o-transition: opacity 1s;
    -o-transition: height 1s;
    -o-transition: width 1s;

    transition: opacity 1s;
    transition: height 1s;
    transition: width 1s;

    height: auto;
    width: auto;
    min-height: 100px;
    min-width: 300px;
}

.atlas-map h5 {
    padding-left: 10px;
}

.atlas-map > .nav {
    margin-bottom: 10px;
}

.map-contents {
    width: auto;
    zoom: 1;
    margin-left: 5px;
}

.showing-border {
    border: 1px solid black;
}

.showing-border-dotted {
    border: 1px dotted black;
}

.showing-border-dashed {
    border: 1px dashed black;
}

.cancer-selector {
    left: 100px;
    position: absolute;
}

.table tr.centered-header td {
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    background-color: #D9EDF7;
}

.table td.highlight-cell {
    font-weight: bolder;
    color: #4b0082;
    border-bottom: 1px solid #4b0082;
    text-align: center;
    text-transform: uppercase;
}

.table td.plain-cell {
    text-align: center;
    text-transform: uppercase;
}

.ui-effects-transfer {
    border: 1px dotted black;
}

.genelist-members {
    overflow-y: auto;
    height: 100px;
    width: 180px;
}

.selected-rows {
    overflow-y: auto;
    overflow-x: auto;
    height: 100px;
    width: 350px;
}

/*network graph styles*/
.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

marker#ngd {
    fill: #D5DF3E;
}

.link.ngd {
    stroke: #1D3FE7;
}

.link.domine {
    stroke-dasharray: 0, 3 1;
    stroke-width: 3px;
    stroke: #AC0035;
}

text {
    pointer-events: none;
}

text.hiveplot {
    font: 14px sans-serif;

}

text.shadow {
    stroke: white;
}

circle.node {
    stroke: gray;
    stroke-width: 2px;
}

line.axis {
    stroke: #A8A9AB;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #999;
    stroke-width: 1.5px;
    stroke-opacity: .3;
}

.link.active {
    stroke: red;
    stroke-width: 2px;
    stroke-opacity: 1;
}

.node circle.active {
    stroke: red;
    stroke-width: 3px;
}

.node circle.hidden {
    visibility: hidden;
}

.filtertabcontent {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0.2);
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

 .nocheckbox_table tbody tr:hover td,
 .nocheckbox_table tbody tr:hover th {
     background-color: orange;
 }


/*thead {*/
    /*background-color: #0061af;*/
    /*background-image: -moz-linear-gradient(top, #0077d8, #003f72);*/
    /*background-image: -ms-linear-gradient(top, #0077d8, #003f72);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0077d8), to(#003f72));*/
    /*background-image: -webkit-linear-gradient(top, #0077d8, #003f72);*/
    /*background-image: -o-linear-gradient(top, #0077d8, #003f72);*/
    /*background-image: linear-gradient(top, #0077d8, #003f72);*/
    /*background-repeat: repeat-x;*/
    /*color: #FFFFFF;*/
/*}*/

div.dataTables_wrapper {
    /*line-height: 10px;
    font-size: 12px;      */
    width: 700px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting {
    background: url("../img/gs/sort_both.png") no-repeat center right;
}

table.table thead .sorting_asc {
    background: url("../img/gs/sort_asc.png") no-repeat center right;
}

table.table thead .sorting_desc {
    background: url("../img/gs/sort_desc.png") no-repeat center right;
}

table.table thead .sorting_asc_disabled {
    background: url("../img/gs/sort_asc_disabled.png") no-repeat center right;
}

table.table thead .sorting_desc_disabled {
    background: url("../img/gs/sort_desc_disabled.png") no-repeat center right;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 100px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
    width: 200px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

.node circle {
    fill: #29f;
    fill-opacity: 0.3;
    stroke: #27d;
    stroke-width: 1.5;
    pointer-events: all;
}

.node text {
    font-size: 12px;
    color: #000;
}

.link {
    fill: none;
    stroke-width: 1;
    stroke: #666;
    stroke-opacity: 0.5;
}

.link.connected_lower {
    stroke: #d33;
    stroke-opacity: 0.7;
    stroke-width: 2;
}

.link.connected_upper {
    stroke: #33d;
    stroke-opacity: 0.7;
    stroke-width: 2;
}

.highlighted_link {
    fill: none;
    stroke-width: 1;
    stroke: #888;
    opacity: 0.6;
}

.svg {
    font: 12px sans-serif;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.graph-border {
    fill: none;
    stroke: #222;
    stroke-opacity: 0.7;
    stroke-width: 1;
}

/*kde_plot*/
.kde_plot .circle .data_point {
    fill: #ff0000;
}

.kde_plot .grid line {
    stroke: #333;
    stroke-opacity: 0.7;
}

.kde_plot .axis_label {
    font-size: 16px;
    font-weight: bold;
}

.kde_plot .plot_area {
    fill: "orange";
    fill-opacity: 0.8;
}

.kde_plot .plot_line {
    fill: "#333";
    fill-opacity: 0.8;
}

.kde_plot .median_line {
    stroke: "#f00";
    stroke-opacity: 0.8;
    stroke-width: 3;
}

/* circvis css */

.ticks .labels {
    stroke: black;
    text-anchor: middle;
    visibility: hidden;
    dy: .35em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

circle.node {
    /*fill:green;*/
    stroke: none;
    /*stroke-width: 1px;  *//* 1/2 * stroke-width ~ radius) */
}

path.link {

}

/*chromosome label*/
.region_label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.axes .labels {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

svg .ideogram .radial_lines {
    stroke: #90ee90;
    stroke-width: 1.5px;
}

svg .wedge .background {
    fill: none;
    stroke: #444;
    opacity: 0.6;
}

/*svg .wedge[data-ring="1"] .background {
    fill:rgba(255,255,255,0.7);
    stroke:none;
    stroke-width:0;
}
svg .wedge[data-ring="1"] .background {
    fill:none;
    stroke:none;
    stroke-width:0px;
}

svg .wedge[data-ring="2"] .background {
    fill:rgba(200,200,200,0.4);
    stroke-width:0;
}*/

/*hovercard css */

.hovercard {
    position: absolute;
    z-index: 100000;
    font-family: Sans-serif !important;
    font-size: 16px !important;
    color: #666 !important;
    line-height: 1.5em;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
}

.hovercard.pinned .pin {
    color: rgba(255, 0, 0, 1.0);
}

.hovercard .tools {
    background-color: transparent;
    background: #ddd;
    border: 1px solid #333;
    top: 1px;
    left: 1px;
    color: #000;
}

.hovercard .tools span {
    padding: 2px;
}

.hovercard .data {
    width: 100%;
    cursor: pointer;
}

.hovercard .data table {

}

.hovercard .links tr {
    vertical-align: middle;
}

.hovercard .links a {
    color: blue;
    font-size: 14px;
    vertical-align: middle;
    text-decoration: none;
}

.hovercard .links a:visited {
    color: blue;
    text-decoration: none;
}

.hovercard .links a:hover {
    color: blue;
    text-decoration: none;
}

.hovercard .pin {
    text-align: center;
    color: black;
    cursor: pointer;
}

.hovercard .move {
    cursor: move;
}

.hovercard .move:active {
    cursor: move;
}

.hovercard .footer {
    text-align: right;
    margin-right: 5px;
    color: rgb(240, 10, 10);
    cursor: pointer;
}

.stacksvis-container {
    /*height:700px;*/
    overflow: auto;
}

.match.PFAM {
    fill: midnightblue;
}

.match.SMART {
    fill: firebrick;
}

.match.PROFILE {
    fill: darkorange;
}

.rotated_cell {
    height: 100px;
    vertical-align: bottom;
}

.rotate_text {
    width: 15px;
    -moz-transform: rotate(-60deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-60deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-60deg);
    -o-transform-origin: top left;
}

.cluster-label {
    -moz-transform: rotate(-60deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-60deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-60deg);
    -o-transform-origin: top left;
}

td.vertical_cell {
    height: 250px;
    vertical-align: bottom;
}

.vertical_text {
    width: 20px;
    height: auto;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-90deg);
    -o-transform-origin: top left;
}

.circ-container {
    height: 700px;
    width: 700px;
}

.node-info {
    padding: 5px 5px 10px 5px;
}

.node-info li {
    line-height: 0;
}

.node-info li span {
    display: inline-block;
}

.minigraph-legend {
    border: 3px solid steelblue;
    border-radius: 15%;
}

.cytoscape-container {
    min-height: 400px;
}

.cytoscape-container > div {
    height: 400px;
}

.q-values {
    white-space: nowrap;
}
