.list-containers {
    position: fixed;
    top:100px;
    left:100px;
}

.gene-lists .active a {
    font-weight:bold;
}

.gene-selector {
    max-width: 200px;
    max-height: 300px;
    overflow-y: scroll;
}

.gene-selector .btn-group {
    margin-bottom: 4px;
}

.gene-selector .btn-group .btn-success {
    min-width: 80px;
}

.clinvar-lists .active a {
    font-weight:bold;
}

.clinvar-selector {
    max-width: 800px;
    max-height: 300px;
    overflow-y: scroll;
}

.clinvar-selector .btn-group {
    margin-bottom: 4px;
}

.clinvar-selector .btn-group .btn-success {
    min-width: 80px;
}