<style type="text/css">

    text {
        font: 10px sans-serif;
    }

    .dimensions-vis-container {
        border:  1px solid #000000;
    }

</style>
<a href="#" onclick="return false;" class="refresh-vis">Refresh</a>
<div id="dimensions-vis-container" class="dimensions-vis-container"></div>