<link rel="stylesheet" href="bower_components/d3.parsets/d3.parsets.css">
<style type="text/css">

    text {
        font: 10px sans-serif;
    }

    .dimensions-vis-container {
        border: 1px solid #000000;
        display: block;
    }

    .options {
        font-size: 12px;
        text-align: center;
        padding: 5px 0;
    }

    .curves {
        float: left;
    }

    .source {
        float: right;
    }

    pre, code {

        font-family: "Menlo", monospace;
    }

    .html .value,
    .javascript .string,
    .javascript .regexp {
        color: #756bb1;
    }

    .html .tag,
    .css .tag,
    .javascript .keyword {
        color: #3182bd;
    }

    .comment {
        color: #636363;
    }

    .html .doctype,
    .javascript .number {
        color: #31a354;
    }

    .html .attribute,
    .css .attribute,
    .javascript .class,
    .javascript .special {
        color: #e6550d;
    }

</style>
<a href="#" onclick="return false;" class="refresh-vis">Refresh</a>
<div id="dimensions-vis-container" class="dimensions-vis-container"></div>