<ul class="nav nav-list">
    {{#each plots}}
        <li class="row">
            <div class="span2">
                <img class="img-polaroid plot-icon" src="{{previewIcon}}">
            </div>
            <div class="span3">
                <h5>{{title}}</h5>
                <span>{{description}}</span>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li><a href="#" onclick="return false;" class="new-workbook-with-plot">Create Workbook</a></li>
                    <li><a href="#" onclick="return false;" class="sample-plot">View Sample Plot</a></li>
                </ul>
            </div>
        </li>
        <li class="divider"></li>
    {{/each}}
</ul>