<div class="input-append">
    <input class="span4 title-field" type="text" placeholder="{{title}}" value="{{title}}">
    <button class="btn btn-mini rename-title" type="button">rename</button>
</div>
