<div class="workdesk">
    <div class="row">
        <div class="span3 well">
            <ul class="nav nav-list">
                <li>
                    <a href="#" onclick="return false;" data-toggle="collapse" data-target="#plots-collapser">Plots <i class="pull-right icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="#" onclick="return false;" data-toggle="collapse" data-target="#datasets-collapser">Data Sets <i class="pull-right icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="#" onclick="return false;" data-toggle="collapse" data-target="#dimensions-collapser">Dimensions <i class="pull-right icon-chevron-right"></i></a>
                </li>
            </ul>
            <!--<div class="well">-->
                <!--<div id="datamodel-collapser" class="list-container-b collapse">-->
                    <!--<div class="datamodel-collector-container"></div>-->
                <!--</div>-->
                <!--<div id="maps-collapser" class="list-container-b collapse">-->
                    <!--<div class="maps-list-container"></div>-->
                <!--</div>-->
                <!--<div id="tumor-types-collapser" class="list-container-b collapse">-->
                    <!--<div class="tumor-types-container"></div>-->
                <!--</div>-->
                <!--<div id="genelist-collapser" class="list-container-b collapse">-->
                    <!--<div class="genelist-container"></div>-->
                <!--</div>-->
                <!--<div id="clinvarlist-collapser" class="list-container-b collapse">-->
                    <!--<div class="clinvarlist-container"></div>-->
                <!--</div>-->
                <!--<div id="workbooks-collapser" class="list-container-b collapse in">-->
                    <!--<div class="workbooks-container"></div>-->
                <!--</div>-->
                <!--<div id="datasheets-collapser" class="list-container-b collapse">-->
                    <!--<div class="datasheets-container"></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="span9">
            <a href="#" onclick="return false;" class="save-workbook btn btn-info btn-mini">Save Workbook</a>
            <div class="bookinfo"></div>
            <div class="worktabs"></div>
        </div>
    </div>
</div>