<div class="workdesk">
    <ul class="nav nav-pills">
        <li>
            <a class="btn btn-mini accordion-toggle" data-toggle="collapse" href="#collapse-data-panel-{{id}}">
                Hide Data Panel <span class="caret"></span>
            </a>
        </li>
        <li>&nbsp;</li>
        <li>
            <a href="#" onclick="return false;" class="save-workbook btn btn-mini">Save Workbook</a>
        </li>
    </ul>

    <div class="span3 well">
        <div class="bookinfo"></div>
        <div id="collapse-data-panel-{{id}}" class="span3 collapse in">
            <ul class="nav nav-list">
                <li class="nav-header">Plots</li>
                <li class="plot-lists">

                </li>
                <li class="nav-header">Genes</li>
                <li class="genes-lists">

                </li>
                <li class="nav-header">Datasets</li>
                <li class="datasets-lists">

                </li>
            </ul>
        </div>
    </div>

    <div class="span9">
        <div class="worktabs"></div>
    </div>
</div>