<style>
    body {
        background-color: #E6E5E6;
        background-image: url(https://www.systemsbiology.org/sites/all/themes/isb/images/bg.png);
        background-position-x: 50%;
        background-position-y: 0%;
        background-size: initial;
    }
</style>
<ul class="list-controls nav nav-list">
    <li>
        <div class="btn-group">
            <button class="btn btn-mini refresh-loaded" type="button"><i class="icon-refresh"></i></button>
            <button class="btn btn-mini refresh-loaded" type="button">Refresh All</button>
        </div>
    </li>
    <li class="divider"/>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#maps-collapser">Visualizations <i class="pull-right icon-chevron-right"></i></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#datamodel-collapser">Databases <i class="pull-right icon-chevron-right"></i></a>
    </li>
    <li class="divider"/>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#tumor-types-collapser">Tumor Types <i class="pull-right icon-chevron-right"></i></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#genelist-collapser">Gene Lists <i class="pull-right icon-chevron-right"></i></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#clinvarlist-collapser">Clinical and Sample Variables <i class="pull-right icon-chevron-right"></i></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#samplelist-collapser">Sample Lists <i class="pull-right icon-chevron-right"></i></a>
    </li>
    <li class="divider"/>
    <!--<li>-->
        <!--<a href="#" onclick="return false;" data-toggle="collapse" data-target="#collected-maps-collapser">Collected Maps <i class="pull-right icon-chevron-right"></i></a>-->
    <!--</li>-->
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#datasheets-collapser">Data Sheets <i class="pull-right icon-chevron-right"></i></a>
    </li>
    <li class="divider"/>
    <li>
        <a href="http://cancergenome.nih.gov/publications/publicationguidelines" target="_blank">TCGA Publication Guidelines</a>
    </li>
</ul>

<div class="list-containers">
    <div id="datamodel-collapser" class="list-container collapse">
        <div class="datamodel-collector-container"></div>
    </div>
    <div id="maps-collapser" class="list-container collapse">
        <div class="maps-list-container"></div>
    </div>
    <div id="tumor-types-collapser" class="list-container collapse">
        <div class="tumor-types-container"></div>
    </div>
    <div id="genelist-collapser" class="list-container collapse">
        <div class="genelist-container"></div>
    </div>
    <div id="clinvarlist-collapser" class="list-container collapse">
        <div class="clinvarlist-container"></div>
    </div>
    <div id="samplelist-collapser" class="list-container collapse">
        <div class="samplelist-container"></div>
    </div>
    <!--<div id="collected-maps-collapser" class="list-container collapse">-->
        <!--<div class="collected-maps-container"></div>-->
    <!--</div>-->
    <div id="datasheets-collapser" class="list-container collapse">
        <div class="datasheets-container"></div>
    </div>
</div>

<div class="atlas-body">
    <div class="atlas-canvas">
    </div>
</div>