<style>
    body {
        background-color: #E6E5E6;
        background-image: url(https://www.systemsbiology.org/sites/all/themes/isb/images/bg.png);
        background-position-x: 50%;
        background-position-y: 0%;
        background-size: initial;
    }
</style>
<ul class="list-controls nav nav-list">
    <li>
        <div class="btn-group">
            <button class="btn btn-mini refresh-loaded" type="button"><i class="icon-refresh"></i></button>
            <button class="btn btn-mini refresh-loaded" type="button">Refresh Maps</button>
        </div>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#datamodel-collapser"><h5>Data Model</h5></a>
    </li>
    <li>
        <a href="#" onclick="return false;" class="maps-btn" data-toggle="collapse" data-target="#maps-collapser"><h5>Maps</h5></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#tumor-types-collapser"><h5>Tumor Types</h5></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#genelist-collapser"><h5>Gene Lists</h5></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#clinvarlist-collapser"><h5>Clinical Variables</h5></a>
    </li>
    <li>
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#collected-maps-collapser"><h5>Collected Maps</h5></a>
    </li>
</ul>

<div class="list-containers">
    <div id="datamodel-collapser" class="list-container collapse">
        <div class="datamodel-collector-container"></div>
    </div>
    <div id="maps-collapser" class="list-container collapse">
        <div class="maps-list-container"></div>
    </div>
    <div id="tumor-types-collapser" class="list-container collapse">
        <div class="tumor-types-container"></div>
    </div>
    <div id="genelist-collapser" class="list-container collapse">
        <div class="genelist-container"></div>
    </div>
    <div id="clinvarlist-collapser" class="list-container collapse">
        <div class="clinvarlist-container"></div>
    </div>
    <div id="collected-maps-collapser" class="list-container collapse">
        <div class="collected-maps-container"></div>
    </div>
</div>

<div class="atlas-body">
    <div class="atlas-canvas">
    </div>
</div>