<li class="datamodel-item">
    <div class="btn-group">
      <button class="btn btn-small btn-success">{{label}}</button>
      <button class="btn btn-mini btn-warning item-remover" data-id="{{id}}" data-label="{{label}}">&times;</button>
    </div>
</li>