<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4><span class="selected-gene">{{selected_gene}}</span> <b class="caret"></b></h4></a>
    <ul class="dropdown-menu seqpeek-gene-selector">
        {{#each genes}}
            <li><a href="#" onclick="return false;" data-id="{{.}}" title="{{.}}">{{.}}</a></li>
        {{/each}}
    </ul>
</div>
<div class="mutations_map_table"></div>
