<a href="{{alternateLink}}" target="_blank">
    <img src="//developers.google.com/drive/images/drive_icon.png" class="signin-pic" alt="&nbsp;"/>
    <img src="{{iconLink}}" class="signin-pic" alt="&nbsp;"/>
    {{title}}
</a>